# EMACS backup files and temporary files
*~
\#*\#
.\#*

# Coq files
.*.aux
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
# Coq makefiles
CoqMakefile
CoqMakefile.conf
.coqdeps.d
# files created by file browsers
.directory

# hs-to-coq temporary directory
.ghc-tmp/
# dependencies for hs-to-coq
deps/
# generated and copied coq files
lib/
# stamp files for submodules
.stamp-hs-to-coq
